<VirtualHost *:80>
  ServerName intranet.orbiseducation.com
  ErrorLog   "/var/log/httpd/com.orbiseducation.intranet-error_log"
  CustomLog  "/var/log/httpd/com.orbiseducation.intranet-access_log" common

  ## Here's our magic
  ProxyRequests off

  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>

  <Location /> # no, this closing tag is not a typo
    ProxyPass        http://localhost:8080/googlespeech # Our port goes here
    ProxyPassReverse http://localhost:8080/googlespeech
  </Location>
</VirtualHost>
